dist: xenial

addons:
  postgresql: "9.6"
  # TODO: Add mysql addon as well

services:
  - postgresql

notifications:
  email: false

sudo: false

language: python

matrix:
  fast_finish: true

cache:
  - pip

env:
  global:
    - POSTGRESQL_SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/invenio"
    - ES6_DOWNLOAD_URL="https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.2.0.tar.gz"
    - ES7_DOWNLOAD_URL="https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.5.1-linux-x86_64.tar.gz"
    - ES_HOST=127.0.0.1
  matrix:
    - REQUIREMENTS=release EXTRAS=all,postgresql,tests ES=$ES6_DOWNLOAD_URL SQLALCHEMY_DATABASE_URI=$POSTGRESQL_SQLALCHEMY_DATABASE_URI
    - REQUIREMENTS=release EXTRAS=all,sqlite,tests ES=$ES6_DOWNLOAD_URL
    - REQUIREMENTS=release EXTRAS=all,postgresql,tests ES=$ES6_DOWNLOAD_URL  OAREPO_VERSION=3.2.0a9 SQLALCHEMY_DATABASE_URI=$POSTGRESQL_SQLALCHEMY_DATABASE_URI
    - REQUIREMENTS=release EXTRAS=all,postgresql,tests-es7 ES=$ES7_DOWNLOAD_URL  OAREPO_VERSION=3.2.0a9 SQLALCHEMY_DATABASE_URI=$POSTGRESQL_SQLALCHEMY_DATABASE_URI

python:
  - "3.7"
  - "3.8"

before_install:
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder pip-tools"
  - "requirements-builder -e $EXTRAS --level=pypi setup.py > .travis-release-requirements.in"
  - "pip-compile -U --verbose -o .travis-release-requirements.txt .travis-release-requirements.in"
  - cat .travis-release-requirements.txt
  - mkdir /tmp/elasticsearch
  - wget -O - $ES | tar xz --directory=/tmp/elasticsearch --strip-components=1
  - "/tmp/elasticsearch/bin/elasticsearch &"
  - sleep 10

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[$EXTRAS]"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

# check if release tag is the same as version.py tag
before_deploy:
- |-
  SRCTAG=$(find . -name "version.py" | grep -v 'build' | grep -v '.eggs' | xargs cat | grep '__version__' | sed 's/__version__//' | sed 's/=//g' | sed 's/"//g' | sed "s/'//g" | sed 's/[ \t\n]//g')
  echo "Version string in sources is $SRCTAG, travis version is $TRAVIS_TAG"
  test $SRCTAG == $TRAVIS_TAG

deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: "g2oWJYTrVqCFhOakiB16tuQPD9hgFV0eUDk5k0jmdeJBlOnydKkHptJxml68HOSnmnmugp378FrxbBlFF9xHqv96CUSEKAp5IPM3J0SOJBdqGJF+Plh/UTt5QhUWu09dkx/LDf10Y0aOSQa5wjKFUa99W7Rw8dH9M9jazmcKUwAS80dNGeMv010faGDvCclUQO5avInrCpXByvz5X3BbXD+AWiIFAOZTrlT9I3JtkG3Iq370VzO/4+VDDK7ha6yg/fbXZ6ACdzVv983t+6r5+pqIahf6peKj0cRP+CRC7EnVdGUaetz2T6hzX6nWKEK1CfEhAVMRaSLfurRxo5WZTYiuDHz04o+k7VkcgthM7oPIRj3VC3H6BWVVhzRyB7jzXH36CHJsk/X+Y3UhfiSTmzTihC9gUeRS/N45rTVHIQm9H2kUQog+4iXzl09n9f+oXDvCRYgs7NDE08gszO09BCMSlLCuREQ0ROSeGSMWGX9JnUDzhLojviGH9a5dNuLUzmMlb6GnvX6C/u8N4hrIBCLRi65i6hqynonWwa/DQVgtdn982EXNHcZElvuOMPfeB0pgEMHnT0kmtyggsZZsdBMqotapJA5xsRshPRCvJ5/GFqX/TSJilh7XZam+EH+USlbozA/szSIggmJ2OPNBc03ZhoaHNtAsyll6f15mOG4="
  on:
    tags: true
    branch: master
  distributions: "sdist bdist_wheel"
  skip_existing: true
